table {
    margin: auto;
    border: solid black 1px;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}

td {
    border: solid black 1px;
    width: 15px;
    height: 15px;
    align-items: center;
    justify-content: center;
}

tbody {
    border: solid black 1px;
    align-items: center;
    justify-content: center;
}

.horiClue {
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    border-left: 0px;
    border-right: 0px;
}

.vertClue {
    border-left: solid black 3px;
    border-right: solid black 3px;
    border-top: 0px;
    border-bottom: 0px;
}

.filler {
    border: 0px;
}

                    