.playtable {
    margin: auto;
    border: solid black 3px;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.element0 {
    color: white;
}

.element1 {
    color: blue;
}
.element2 {
    color: blueviolet;
}
.element3 {
    color: green;
}
.element4 {
    color: yellow;
}
.element5 {
    color: coral;
}
.element6 {
    color: cyan;
}
.element7 {
    color: deeppink;
}
.element8 {
    color: lightseagreen;
}

.reveal0 {
    background-color: lightgray;
}

.reveal1 {
    background-color: white;
}

.reveal2 {
    background-color: darkgray;
}

.addPuzzleTable {
    margin: auto;
    border: solid black 3px;
    border-collapse: collapse;
    align-items: center;
    justify-content: center;
}

td {
    border: solid black 1px;
    width: 25px;
    height: 25px;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', 'sans-serif';
}

.clueToggle {
    color: orange;
}

tbody {
    border: solid black 1px;
    align-items: center;
    justify-content: center;
}

.horiClue {
    border-top: solid black 3px;
    border-bottom: solid black 3px;
    border-left: 0px;
    border-right: 0px;
}

.vertClue {
    border-left: solid black 3px;
    border-right: solid black 3px;
    border-top: 0px;
    border-bottom: 0px;
}

.filler {
    border: 0px;
}

